<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FAF Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="/fonts/zeroes_3.tff" rel="stylesheet">

    <!-- Styles -->
    <link href="/css/app.min.css" rel="stylesheet">
</head>
<body>
    <section id="fafvote"></section>

    <!-- Local imports -->
    <script src="/app/bundle.js"></script>
</body>
</html>
